backend/pb_migrations/* linguist-vendored
docker-compose.yml linguist-vendored
Dockerfile linguist-vendored
frontend/src/*.css -linguist-detectable
frontend/svelte.config.js -linguist-detectable
frontend/src/app.html -linguist-detectable
backend/pb_hooks/views/* -linguist-detectable